#content{
    padding-left:150px;
    padding-right:150px;
}

#second {
    display:flex;
    justify-content: space-between;
}

.butto{
    display:flex;
    justify-content: center;
}

.ticks{
    display:flex;
    align-items: center;
}

#html{
    accent-color: black;
}

#third{
    display:flex;
    justify-content: space-between;
}

.search{
    display: flex;
    align-items: center;
}

#upper{
    margin-top:15px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#left{
    display:flex;
}

#left p{
    font-size: 25px;
}

#first{
    display:flex;
    justify-content: space-between;
}

#right{
    display: flex;
    justify-content: center;
}

#right input{
    margin:25px;
    border-radius: 8px;
}

@media only screen and (max-width:580px){
    #content{
        padding-left: 35px;
    padding-right: 50px;
    }
}