#content{
    padding-left:150px;
    padding-right:150px;
}

#upper{
    margin-top:15px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media only screen and (max-width:580px){
    #content{
        padding-left: 35px;
    padding-right: 50px;
    }
}